# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List libraries commonly used for Data Science
+ Table tools for Data Science
+ Exemplify arithmetic expressions in Python

## Author
Jean Alessandro Bautista Aguilar

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. GO

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4.Keras

|Data Science Tools|
|--------------------------------|
|MySQL|
|Microsoft Visual Studio|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335